body {
    background-color: #222831;
    color: #EEEEEE;
}

.tag-view {
    background-color: #31363F;
    border: 1.5px solid rgba(255, 255, 255, 0.12);
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
}