body {
    background-color: #222831;
    color: #EEEEEE;
}

.action-panel {
    background-color: #31363F;
    border: 1.5px solid rgba(255, 255, 255, 0.12);
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
}

.card {
    background-color: #31363F;
    border: 1.5px solid rgba(255, 255, 255, 0.12);
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
}

.upload-button {
    background-color: #76ABAE;
}

.upload-button:hover {
    background-color: #5d8789;
}
